
@model Dish

<a asp-action="Index" asp-controller="Home">Home</a>

<h1>@ViewBag.singleDish.Name</h1>

<h3>@ViewBag.singleDish.Chef</h3>

<p>@ViewBag.singleDish.Description</p>

<p>Calories: @ViewBag.singleDish.Calories</p>
<p>Tastiness: @ViewBag.singleDish.Tastiness</p>

<p><a href="/delete/@ViewBag.singleDish.DishId">Delete</a></p>
<p><a href="/edit/@ViewBag.singleDish.DishId">Edit</a></p>
























































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































































